Repository highpoint-tech/merge-scss: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, prettier --write --parser json

Add script
  index.js
Due: eslint, prettier --write

chore: upgrade dependencies
  yarn.lock
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write --parser json

feat: make importable module for use in other applications
  README.md
  cli.js
  index.js
  package.json
Due: eslint, prettier --write, prettier --write --parser json

chore: bump version
  CHANGELOG.md
  package.json
Due: prettier --write --parser json

fix: ensure line endings use LF
  .gitattributes
Due: none

docs: update git URL
  package.json
Due: prettier --write --parser json

Path conditions:
  eslint: any of: **/*.js
  prettier --write: any of: **/*.js
  prettier --write --parser json: any of: **/*.{json,*rc}
